<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contentform">
    <div class="form-group">
      <p><%= f.label :제목 %><span>*</span></p>
      <span class="icon-case"><i class="fa fa-diamond"></i></span>
        <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <p><%= f.label :내용 %><span>*</span></p>
      <span class="icon-case"><i class="fa fa-comments-o"></i></span>
        <%= f.text_area :body %>
    </div>

    <div class="form-group">
      <%= f.submit "저장", class: 'submit' %>
    </div>
  </div>
<% end %>
