<p id="notice"><%= notice %></p>

<div class="contentbox">
  <div class="form-group">
    <p>제목: <%= @post.title %></p>
  </div>

  <div class="form-group">
    <p>내용: <%= @post.body %></p>
  </div>

  <ul>
    <li class="button light"><%= link_to '수정', edit_post_path(@post) %></li>
    <li class="button light"><%= link_to '파괘애', post_path(@post),
        method: :delete,
        data: { confirm: '레알?' } %></li>
  </ul>
</div>

<%= render 'reply', post: @post %>

<!-- <div class="button dark"> -->
  <%= link_to '뒤로가기', posts_path, class: 'button dark' %>
<!-- </div> -->
